<!-- login.page.html -->
<div class="container">
  <ion-content>
    <form #loginForm="ngForm" (ngSubmit)="iniciarSesion()">
      <div class="two-column-layout">
        <div class="imagen">
          <ion-img src="assets/imagenes/login.svg"> </ion-img>
        </div>
        <div class="formulario">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="forLogin.rut" name="rut" required placeholder="Ingrese su Rut"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="forLogin.pasword" name="password" required placeholder="Ingrese su Contraseña" type="password"></ion-input>
          </ion-item>
          
          <ion-button type="submit" shape="block" class="botones" [disabled]="!loginForm.form.valid">Iniciar Sesión</ion-button>
          <ion-button [routerLink]="['/registro']" shape="block" class="botones">Registrarse</ion-button>
        </div>
      </div>
    </form>
    
    <ion-header collapse="condense">
      <ion-toolbar>
       
      </ion-toolbar>
    </ion-header>
  </ion-content>
</div>
