<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advertencia</ion-card-title>
      <ion-card-subtitle>Pàgina no encontrada</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      No tiene acceso a la pàgina buscada
    </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">not-found</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
